/*글로벌 세팅 */
:root{
    /* color */
    --color-black: #272629;
    --color-dark-grey:#4a494c;
    --color-grey:#68676a;
    --color-light-grey:#858587;
    --color-brilliant-grey:#aaa9ab;
    --color-green:#00f55a;
    --color-white:#e6e5ee;
    --color-light-white:#f5f4fe;

    /* font size */
    --font--size-huge:42.63px;
    --font-size-large:31.98px;
    --font-size-medium:23.99px;
    --font-size-regular:18px;
    --font-size-small:13.50px;

    /* font weight */
    --font-weight-bold: 500;
    --font-weight-medium: 300;
    --font-weight-light: 200;

}

/* 타이포그래피 */
h1 {
    font-size: var(--font--size-huge);
    font-weight: var(--font-weight-bold);
    margin: 15px 0px;
}
h2 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    margin: 7px 0px;
}
h3 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    margin: 5px 0px;
}
p {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-light);
}


/* 시멘틱태그 */
* {
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Do Hyeon', sans-serif;
    /* 글자사이 간격 조절 */
    letter-spacing:1.2px; 
    color: var(--color-black);
}
ul{
    padding:0;
}
li{
    list-style: none;
}
section {
    width: 100%;
    min-height: 100vh;
    padding : 70px 10%;
}

/* navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 14px 12px;
    position: fixed;
    top:0;
    transition: all 0.4s ease-in;
    z-index: 2;

    background-color: transparent;
    color: var(--color-white);
}
.navbar__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar__logo i{
    font-size: 25px;
    padding-right: 7px;
}
.navbar__menu{
    display: flex;
    cursor: pointer;

    margin:0;
}
.navbar__menu li{
    padding: 7px 11px;
    margin-left: 10px;
}
.navbar__menu li:hover{
    background-color: rgba(128, 128, 128, 0.303);
    border-radius: 5px;
    color: var(--color-green);
    transform: scale(1.1);
    transition: transform 0.22s ease-in;
}
.navbar__menuBtn {
    position: absolute;
    right: 12px;
    top: 20px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}
.navbar__menuBtn:hover{
    color: var(--color-green);
    transform: scale(1.15);
    transition: transform 0.22s ease-in;
}
/* 맨 상단에서 벗어나면 배경색 지정 */
#navbar.navbar--dark {
    background-color: var(--color-black);
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.406);
}


/* home */
#home {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home video{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    filter: brightness(50%);
}
.home__profile{
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile__photo{
    width: 250px;
    height: auto;
    border-radius: 50%;
    opacity:0.9;
    margin-bottom: 30px;
}
.profile__title{
    color:var(--color-white);
}
.profile__title>h1{
    margin-top: 0px;
}
.profile__contact{
    font-size: var(--font-size-medium);
    margin-top : 10px;
    padding : 10px 20px;

    background-color: transparent;
    color: var(--color-white);
    border: 3px var(--color-white) solid;
    border-radius: 5px;

    transition: all 0.2s ease-in;
    cursor: pointer;
}
.profile__contact:hover{
    color:var(--color-green);
    border-color: var(--color-green);
    transform: scale(1.1);
    transition: transform 0.22s ease-in;
}

/* about */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about__skills{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}
.about__skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
#about .skill__icon{
    font-size: 100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3.5px var(--color-light-grey) double;
    box-shadow: 2px 4px 5px 1px rgba(167, 167, 167, 0.957);
    position: relative;
    overflow: hidden;
    transition: color 2s ease-in;
}
#about .about__skill ul{
    font-size: var(--font-size-small);
    margin: 0px;
}
#about .about__skill li{
    list-style:circle;
    padding: 5px 0px;
    color:var(--color-light-grey);
}
#about .skill__icon__wave{
    width: 300px;
    height: 300px;
    border-radius: 44%;
    background-color: grey;
    opacity: 0.5;
    display: block;
    position: absolute;
    bottom: -200%;
    animation: move 4s infinite linear;
    transition: bottom 3s ease-in, background-color 5s linear;
}
#about .skill__icon__percent{
    position: absolute;
    bottom: -50%;
    font-size: var(--font-size-regular);
    text-shadow: 0.3px 0px 1px black;
    transition: all 1s ease-in;
}
#about .skill__icon__percent.active{
    bottom: 84%;
}
#about .skill__icon__wave.html.waveOn {
    background-color: #f16529;
    bottom: -130%;
}
#about .skill__icon__wave.css.waveOn {
    background-color: #2862e9;
    bottom: -150%;
}
#about .skill__icon__wave.js.waveOn {
    background-color: #e8b824;
    bottom: -170%;
}
#about .skill__icon.html.active{
    color: #f16529 ;
}
#about .skill__icon.css.active{
    color: #2862e9;
}
#about .skill__icon.js.active{
    color:  #e8b824;
}
@keyframes move {
    100% {transform: rotate(360deg);}
}
.about__careers{
    margin-top: 40px;
}
.career {
    display: flex;
    position: relative;
    align-items: center;
}
.career__logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.career__info {
    color: var(--color-dark-grey);
}

/* skills */
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c8cac925;
}
.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-white);
    margin: 20px 0;
    width: 100%;
}
.skillset__title {
    color: var(--color-light-white);
}
.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 20px;
}
.skill {
    margin: 32px 0px;
}
.skill__description {
    display: flex;
    justify-content: space-between;
}
.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill__value {
    height: 3px;
    background-color: var(--color-green);
    width: 1%;
    transition: width 2s ease-in;
}
.skill__value.html.active{
    width: 80%;
}
.skill__value.css.active{
    width: 60%;
}
.skill__value.js.active{
    width: 40%;
}
.skill__value.react.active{
    width: 30%;
}
.skill__value.node.active{
    width: 20%;
}
.skillset__right {
    flex-basis: 40%;
    
} 
.skillset__right li{
    list-style: circle;
    margin-left: 20px;
}
.tools {
    background-color: var(--color-grey);
}
.tools,
.etc {
    padding: 20px;
}

/* Projects */
.projects__title{
    text-align: center;
}
.project{
    margin: 100px 0px;
    color:var(--color-white);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 2px 10px black;
}
.project__top{
    background-color: var(--color-black);
    text-align: center;
    padding: 20px 0px;
}
.project__title{
    margin:0;
    color: var(--color-green);
}
.project__period{
    color:var(--color-brilliant-grey);
    margin:0;
}
.project__subtitle{
    margin:0;
}
.project__bottom{
    display: flex;
    width: 100%;
}
.project__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    padding: 20px;
    background-color: var(--color-brilliant-grey);
}
.project__view{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.project__imgs{
    margin:0;
    position: absolute;
    /* 임시로 길게 가로크기를 지정함 -> js에서 이미지 갯수에 맞게 길이 조절 */
    width: 25000px;
    /* 첫 이미지의 위치 */
    transform: translateX(0px);
    left: 0;
    top:0;
    transition: transform 0.5s ease-out;
    
}
.project__imgs li{
    float: left;
    margin-right: 100px;
}

/* li의 고정크기를 지정하여 그에 맞게 이미지크기를 맞추었다. */
.project__imgs li{
    width: 300px;
    height: 300px;
}
.project__img{
    width: 100%;
    height: 100%;
    background-color: #4a494c;
    object-fit: contain;
}
.controller{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.prev,.next{
    padding : 10px 30px;
    font-size: 50px;
    text-shadow: 1px 2px 5px black;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.prev:hover,.next:hover{
    /* color: var(--color-green); */
    text-shadow: 0px 0px 20px var(--color-green);
    transform: scale(1.5);
}



.project__right{
    flex-basis: 60%;
    word-wrap: inherit;

}
.project__right li{
    margin-left: 20px;
    list-style: circle;
}
.project__description{
    background-color: var(--color-dark-grey);
    padding: 20px;
}
.project__description p{
    margin: 0;
}
.project__function{
    padding:20px;
    background-color: var(--color-grey);
}
.project__myRole{
    padding: 20px;
    height: 100%;
    background-color: var(--color-light-grey);
}

/* js 테스트 */
.test{
    width: 200px;
    background-color: #00f55a;
}
.test__prev,.test__next{
    cursor: pointer;
}
.test__ul{
    width: 80%;
    background-color: #2862e9;
}





@media screen and (max-width:690px) {
    section {
        padding : 70px 10px;
    }

    /* nabar */
    #navbar{
        flex-direction: column;
        align-items:unset;
    }
    .navbar__menuBtn{
        display: block;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .navbar__menu.active{
        display:flex
    }
    .navbar__menu li{
        width: 80%;
        text-align: center;
    }
    
    /* about me */
    .about__skills{
        flex-direction: column;
        align-items: center;
    }
    .about__skill{
        margin: 10px 0px;
        width: 80%;
    }

    /* skills */
    .skillset {
        flex-direction: column;
    }

    /* projects */
    .project{
        display: flex;
        flex-direction: column;
    }
    .project__bottom{
        flex-direction: column;
    }
}